$font_primary: "Ubuntu", sans-serif;

// Colores en modo light
$color_primary: #1aa7e5;
$color_secondary: #5bc7f6;

$background_light: #f8f8f8;

$color_text: #0c4a66;
$color_text_alt: #f8f8f8;

$gradient_background: linear-gradient(
  100deg,
  $color_primary 0%,
  $color_secondary 100%
);

// Colores en modo dark
$color_primary_dark: #062533;
$color_secondary_dark: #0c4a66;

$background_dark: #103c50;

$color_text_dark: #9acfe6;

$gradient_background_dark: linear-gradient(
  100deg,
  $color_primary_dark 0%,
  $color_secondary_dark 100%
);

// Modo Light
.theme {
  --color__primary: #{$color_primary};
  --color__secondary: #{$color_secondary};
  --color__text: #{$color_text};
  --color__text__alt: #{$color_text_alt};
  --color__background: #{$background_light};
  --color__item: white;
  --gradient__background: linear-gradient(100deg, #1aa7e5 0%, #5bc7f6 100%);

  // Modo Dark
  &--dark {
    --color__primary: #{$color_primary_dark};
    --color__secondary: #{$color_secondary_dark};
    --color__text: #{$color_text_dark};
    --color__text__alt: #{$color_text_dark};
    --color__background: #{$background_dark};
    --color__item: #{$color_secondary_dark};
    --gradient__background: linear-gradient(100deg, #062533 0%, #0c4a66 100%);
  }
}
