@import "./Variables.scss";
@import "./Mixins.scss";

body {
  font-family: $font_primary;
  font-size: 16px;
  background: var(--color__background);
}

.bold {
  font-weight: bold;
}

.layout {
  display: grid;
  grid-template-rows: auto auto;
}

.avatar {
  &__image {
    border-radius: 100%;
  }
  &--large {
    width: 136px;
    height: 136px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  &--small {
    width: 48px;
    height: 48px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
}

.text {
  color: var(--color__text__alt);
  &__label {
    display: block;
    font-weight: 600;
  }
  &__link {
    text-decoration: none;
    color: var(--color__text__alt);
    transition: ease-in 0.2s;

    &:hover {
      color: $color_text;
    }
  }
}

.btn {
  font-family: $font_primary;
  font-size: 16px;
  background: $color_primary;
  border: 2px solid $color_primary;
  border-radius: 8px;
  padding: 8px 12px;
  transition: ease-in 0.2s;
  cursor: pointer;

  &__outline {
    background: transparent;
    border: 2px solid var(--color__text__alt);
    color: var(--color__text__alt);
    font-weight: 600;

    &:hover {
      background: rgba($color: var(--color__text__alt), $alpha: 0.15);
    }
  }

  &--text-icon {
    margin-right: 8px;
  }
}

.toggle {
  background: transparent;
  border: none;
  color: var(--color__text__alt);
  cursor: pointer;
  align-self: flex-end;

  &__icon {
    font-size: 20px;
  }

  &__text {
    font-size: 12px;
  }
}

@include desktop {
  .layout {
    display: grid;
    grid-template-rows: 256px auto;
  }
}
